/* Fuentes: 

Bradley Hand ITC
Myanmar Text
Harrington
MV Boli
*/


@font-face {
    font-family: "Bernard MT Condensed Regular";
    src: url("../resources/BERNHC.TTF") format("truetype");
}

@font-face {
    font-family: "Bradley Hand ITC";
    src: url("../resources/bradhitc.ttf") format("truetype");
}

@font-face {
    font-family: "MV Boli";
    src: url("../resources/mvboli.ttf") format("truetype");
}

@font-face {
    font-family: "Harrington";
    src: url("../resources/HARRINGT.TTF") format("truetype");
}

@font-face {
    font-family: "Myanmar Text";
    src: url("../resources/mmrtext.ttf") format("truetype");
}

@font-face {
    font-family: "Myanmar Text Bold";
    src: url("../resources/mmrtextb.ttf") format("truetype");
}



/* Fuentes */

h1, h2, h3, h4, h5, h6 {
    font-family: "Bradley Hand ITC", sans-serif;
}

.harrington {
    font-family: "Harrington", fantasy, sans-serif;
}

body, .mv-boli{
    font-family: "MV Boli", "Comic Sans MS", "Comic Sans", cursive;
}

.myanmar_bold {
    font-family: "Myanmar Text Bold", sans-serif;
}

/* Fin de Fuentes */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Myanmar Text", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body, html, #wrapper {
    min-width: 100%;
    min-height: 100vh;
}

body {
    background-color: #0E75BC;
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

p {
    font-size: 14px;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin: auto;
    max-width: 1024px;
    width: 100%;
    /*padding: 16px;*/
    z-index: 5;
    margin-top: 50px;
    position: relative;

}


/* =================================
            Fondos
===================================  */

#historia main, #mitos main, #contacto main {
    background: transparent url("../img/fondo_truenos.svg") center center/cover no-repeat;
}

body#detalles, body#contacto {
    background: transparent url("../img/fondo_tormenta.jpg") center center/cover no-repeat;
}

/* =================================
            Header
===================================  */

header {
    position: relative;
    text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
    background: #fff url("../img/header_banner.png") center top/cover no-repeat;

    /*tamaño*/
    overflow: hidden;
    padding-top: 16.45%;
}

header div {
    z-index: 2;
}

header .capa_azul {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0E76BC;
    opacity: 0.4;
}

.busqueda {
    height: 40px;
    margin-bottom: 18px;
}

.busqueda input[type=text], .busqueda button {
    height: 28px;
    min-height: 28px;
    border: none;
    padding: 6px;
    float: left;
}

.busqueda input[type=text] {
    font-size: 17px;
    width: 264px;
}

.busqueda button {
    background: #444B4D;
    font-size: 17px;
    cursor: pointer;
    width: 26px;

    display: flex;
	justify-content: center;
	align-items: center;
}

.busqueda button:hover {
    background: #3c4345;
}  

.icono_busqueda {
    height: 17px;
    width: 17px;
    display: inline-block;
}

/* =================================
            Footer
===================================  */

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
    padding: 16px;
    margin: auto;
    width: 100%;
    max-width: 1024px;
}

.redes_sociales a {
    margin-right: 10px;
}

h1 {
    font-size: 48px;    
}

h3 {
    font-size: 26px;
}

nav {
    z-index: 3;
}

nav ul {
    list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

nav li {
    display: inline-block;
    list-style: none;
    position: relative;

}

nav a, nav a:visited, nav a:active {
    color: #2F3692;
    height: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    min-width: 113px;
    padding-bottom: 12px;
    background: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: "Bernard MT Condensed Regular", sans-serif;
    font-size: 20px;
    text-transform: uppercase;

}

nav li::after {
    display: block;
    content: '';
    z-index: 4;
    pointer-events: none;
    width: 25vw;
    padding-top: 73%;
    
    background: transparent url("../img/menu_nube.svg") center top/cover no-repeat;
    overflow: hidden;

    position: absolute;
    left: -115%;
    top: 0;
}

@media only screen and (max-width: 1280px) {
    nav li::after {
        background: transparent url("../img/menu_nube.svg") center top/contain no-repeat;
        position: absolute;
    }
}

nav a:hover {
    background: #F4F4F4;
}


/*
Contacto
*/

.btn, input[type=button], input[type=submit] {
    background-color: #0E75BC;
    border: none;
    color: white;
    width: 180px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;/*31pt;*/
    display: block;
    min-height: 10px;
}

input, textarea {
    border: 3pt solid #939598;
    min-height: 26px;
    background-color: white;
}

label {
    font-size: 17px;
    color: black;
    line-height: 1.2;
    display: block;
    margin-top: 0.8em;
}

/* =================================
            Paginas
===================================  */

.div_blanco {
    background-color: white;
    color: black;
}

.rounded {
    border-radius: 10px;
}

.p-8px {
    padding: 8px;
}

.div_morado {
    background-color: #262262;
    color: white;
}

.div_celeste {
    background-color: #8DD8F8;
    color: #2B3990;
}

/* Index/Historia */

#historia main {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#index_izq {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;

    min-height: 431px;
    width: 438px;
}

#index_izq img {
    position: absolute;
    z-index: 4;
    left: 83px;
    top: 0;
    height: 431px;
}

#index_izq .div_morado {
    text-align: end;
    width: 220px;
    font-size: 20px;
}

#index_der {
    width: 375px;
}

#index_der .div_celeste {
    z-index: 4;
    position: relative;
    font-size: 22px;
    width: 186px;
}

#index_der img {
    position: absolute;
    z-index: 2;
    right: 85px;
    top: 0;
    height: 386px;
    width: 253px;
}

/* Mitos */

.mitos_div_izq {
    width: 638px;
    position: relative;
    left: 90px;
    z-index: 4;
    font-size: 14px;
    line-height: 1.5;
}

#imagen_zeus_mitos {
    width: 348px;
    z-index: 3;
    position: absolute;
    right: 50px;
    top: 0;
}
